/*-----------------------------------------
* Theme Name: Listing Hub
* Author: Themez Hub
* Version: 1.0
* Last Change: Dec 27 2017
  Author URI    : http://www.themezhub.com/
 --------------------------------*/
@media only screen  and (min-width : 768px) {
.emp-detail {
    margin-top: 60px;
  
}
}
	
@media only screen  and (min-width : 993px) {
	section {
		padding:2em 0 3em 0;
	}

	.navbar-default .navbar-brand img {
		max-width: 170px;
	}
	.half-box {
		padding:140px 40px;
	}
	.half-box h2{
		font-size:50px;
	}
	.newsletter{
		padding:50px 0;
	}
	
	.freelancer.banner h2{
	font-size:50px;
	}
	.freelancer.banner .input-group .form-control{
		height: 55px;
	}
	.freelancer.banner .input-group-btn:last-child>.btn, .freelancer.banner .input-group-btn:last-child>.btn-group {
		height: 55px;
	}
}

@media only screen  and (min-width : 1024px) {
	h1 {
	  font-size:46px;
	}
	h2 {
	  font-size:36px;
	}
	h3 {
	  font-size:27px;
	}
	h4 {
	  font-size:20px;
	} 
	
	h5 {
	  font-size:17;
	}
	
	h6 {
	  font-size:12;
	}
	
	/*------------ Custom Font Style --------------*/
	.font-50{
	font-size:50px;
	}

	.font-60{
		font-size:60px;
	}

	.font-80{
		font-size:80px;
	}

	.font-100{
		font-size:100px;
	}

	.font-150{
		font-size:150px;
	}

	.font-200{
		font-size:200px;
	}

	.font-250{
		font-size:250px;
	}

	.font-300{
		font-size:300px;
	}

	.font-400{
		font-size:400px;
	}

	.font-450{
		font-size:450px;
	}

	.font-500{
		font-size:500px;
	}

	.font-bold{
		font-weight:bold;
	}
	.main-banner h2 {
		font-size: 50px;
		font-weight: 600;
		margin-bottom:10px;
	}
	.main-banner p{
		font-size:17px;
	}

}

@media only screen  and (min-width : 1200px) {
}

@media only screen and (max-width: 1023px) and (min-width: 993px){

}

@media screen and (max-width: 1199px) {

}

@media only screen and (max-width: 992px) and (min-width: 768px){

}
@media screen and (max-width: 992px) {
	.navbar-default .navbar-brand img {
		max-width: 160px;
	}
	.main-banner .form-control{
		margin-bottom:10px;
	}
	
	.fb-log-btn {
		margin-bottom: 10px;
	}
	
	.main-banner {
		padding-top: 120px;
	}
}

@media screen and (max-width: 767px) {
	/*-- General Style--*/
	html body .mob-padd-0{
		padding:0;
	}
	html body .mob-mrg-0{
		margin:0;
	}
	html body .mob-extra-mrg{
		margin-left:-15px;
		margin-right:-15px;
	}
	.heading h2 {
		font-size: 28px;
	}
	/*----- Mobile Padding Settings ------*/
	.mob-padd-0{
		padding-left:0;
		padding-right:0;
	}
        .m-clear{
clear:both;
}
	.mob-mrg-0{
		margin-left:-15px;
		margin-right:-15px;
	}
	.mob-extra-mrg{
		margin-left:-15px;
		margin-right:-15px;
	}
	
	.banner {
		padding: 100px 0 80px 0;
	}
	
	.emp-pic, .emp-bt, .emp-des {
		text-align: center;
	}
	
	.emp-pic img{
		display:table;
		margin:0 auto;
	}
	.emp-detail {
		margin-top: 50px;
	}

}

@media screen and (max-width: 479px) {

}